/**
 * Priest Abilities
 */

.icon {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;


  ////AFFLICTION
  // Shadow BOLT
  &.spell-47809, &.spell-sb {
  background-image: url('/warlock/assets/sb.jpeg');
  }
  //UA
  &.spell-47843, &.spell-ua {
    background-image: url('/warlock/assets/ua.jpeg');
  }
  //Corruption
  &.spell-47813, &.spell-corruption {
    background-image: url('/warlock/assets/corruption.jpeg');
  }

  //Agony
  &.spell-47864, &.spell-agony {
    background-image: url('/warlock/assets/agony.jpeg');
  }

  //Haunt
  &.spell-59164, &.spell-haunt {
    background-image: url('/warlock/assets/haunt.jpeg');
  }

  // Drain soul
  &.spell-47855, &.spell-ds {
    background-image: url('/warlock/assets/ds.jpeg');
  }
  // T7 4P
  &.spell-61082, &.spell-t7_4p {
    background-image: url('/warlock/assets/t7_4p.jpg');
  }

  &.spell-57946, &.spell-63321, &.spell-life_tap, &.spell-life_tap_glyph {
    background-image: url('/warlock/assets/life_tap.jpg');
  }



  ////

  // Blood fury
  &.spell-33702, &.spell-blood-fury {
    background-image: url('/warlock/assets/blood-fury.jpeg');
  }



  /**
   * Engineering
   */

  // Adamantite Grenade
  &.spell-30217, &.spell-boom {
    background-image: url('/warlock/assets/boom.jpg');
  }

  // Dense Dynamite
  &.spell-23063 {
    background-image: url('/warlock/assets/boom.jpg');
  }

  &.spell-30216 {
    background-image: url('/warlock/assets/boom.jpg');
  }

  // Goblin land mine
  &.spell-4100 {
    background-image: url('/warlock/assets/mine.jpg');
  }

  // Goblin Sapper
  &.spell-13241 {
    background-image: url('/warlock/assets/boom.jpg');
  }

  // Super Sapper Charge
  &.spell-56488 {
    background-image: url('/warlock/assets/boom.jpg');
  }

  &.spell-56350 {
    background-image: url('/warlock/assets/boom.jpg');
  }

  /**
   * Buffs
   */

  &.spell-32182, &.spell-heroism {
    background-image: url('/warlock/assets/heroism.jpg');
  }

  &.spell-2825, &.spell-bloodlust {
    background-image: url('/warlock/assets/bloodlust.jpg');
  }

  &.spell-28507, &.spell-haste-potion {
    background-image: url('/warlock/assets/haste.jpg');
  }

  &.spell-35476, &.spell-351355, &.spell-drums-of-battle {
    background-image: url('/warlock/assets/drums.jpg');
  }

  &.spell-40396, &.spell-skull-of-guldan {
    background-image: url('/warlock/assets/skull-of-guldan.jpg');
  }

  &.spell-18803, &.spell-focus {
    background-image: url('/warlock/assets/focus.jpg');
  }

  &.spell-45856, &.spell-breathe-haste {
    background-image: url('/warlock/assets/haste-breath.jpg');
  }

  &.spell-24907, &.spell-moonkin-aura {
    background-image: url('/warlock/assets/moonkin.jpg');
  }

  &.spell-54043, &.spell-ret-aura {
    background-image: url('/warlock/assets/ret-aura.jpg');
  }

  &.spell-10060, &.spell-pi {
    background-image: url('/warlock/assets/pi.jpg');
  }

  &.spell-33370, &.spell-quags {
    background-image: url('/warlock/assets/quags.jpg');
  }

  &.spell-3738, &.spell-wrath-of-air {
    background-image: url('/warlock/assets/wrath-of-air.jpg');
  }

  &.spell-28508, &.spell-destruction {
    background-image: url('/warlock/assets/destruction.jpg');
  }

  &.spell-45044, &.spell-sns {
    background-image: url('/warlock/assets/sliver.jpg');
  }

  &.spell-43712, &.spell-hsh {
    background-image: url('/warlock/assets/hsh.jpg');
  }

  &.spell-51953, &.spell-dark-iron-pipe {
    background-image: url('/warlock/assets/pipe.jpg');
  }

  &.spell-35163, &.spell-icon-crescent {
    background-image: url('/warlock/assets/crescent.jpg');
  }

  &.spell-55637, &.spell-lightweave {
    background-image: url('/warlock/assets/lightweave.jpg');
  }


  &.spell-54758, &.spell-hyperspeed {
    background-image: url('/warlock/assets/hyperspeed.jpg');
  }

  &.spell-64371, &.spell-eradication {
    background-image: url('/warlock/assets/eradication.jpg');
  }

  &.spell-14751, &.spell-inner-focus {
    background-image: url('/warlock/assets/innerfocus.jpg');
  }

  &.spell-60480, &.spell-war-prisoner {
    background-image: url('/warlock/assets/motwp.jpg');
  }

  &.spell-60064, &.spell-sundial {
    background-image: url('/warlock/assets/sundial.jpg');
  }

  &.spell-56184, &.spell-twilight-serpent {
    background-image: url('/warlock/assets/serpent.jpg');
  }

  &.spell-60479, &.spell-forge-ember {
    background-image: url('/warlock/assets/fire.jpg');
  }

  &.spell-60471, &.spell-tome-arcane-phenomena {
    background-image: url('/warlock/assets/tome.jpg');
  }

  &.spell-59657, &.spell-argent-valor {
    background-image: url('/warlock/assets/argent-valor.jpg');
  }

  &.spell-60494, &.spell-dying-curse {
    background-image: url('/warlock/assets/dying-curse.jpg');
  }

  &.spell-60492, &.spell-embrace-spider {
    background-image: url('/warlock/assets/embrace-spider.jpg');
  }

  &.spell-53908, &.spell-speed-potion {
    background-image: url('/warlock/assets/speed-potion.jpg');
  }

  &.spell-53909, &.spell-wild-magic {
    background-image: url('/warlock/assets/wild-magic.jpg');
  }


  &.spell-64320, &.spell-rune-of-power {
    background-image: url('/warlock/assets/powerrune.jpg');
  }

  &.spell-62836, &.spell-slag-imbued {
    background-image: url('/warlock/assets/slagimbued.jpg');
  }

  &.spell-64907, &.spell-devious-mind {
    background-image: url('/warlock/assets/deviousmind.jpg');
  }

  &.spell-63277, &.spell-shadow-crash {
    background-image: url('/warlock/assets/shadowcrash.jpg');
  }

  &.spell-62807, &.spell-starlight {
    background-image: url('/warlock/assets/starlight.jpg');
  }

  &.spell-64713, &.spell-flame-heavens {
    background-image: url('/warlock/assets/flare.jpeg');
  }

  &.spell-64707, &.spell-scale-fates {
    background-image: url('/warlock/assets/scalefates.jpg');
  }

  &.spell-398475, &.spell-living-flame {
    background-image: url('/warlock/assets/livingflame.jpg');
  }

  &.spell-64741, &.spell-pandoras-plea {
    background-image: url('/warlock/assets/sundial.jpg');
  }

  &.spell-67669, &.spell-abyssal-rune {
    background-image: url('/warlock/assets/abyssal-rune.jpg');
  }

  &.spell-67683, &.spell-crystal-heart {
    background-image: url('/warlock/assets/crystal-heart.jpg');
  }

  &.spell-60486, &.spell-dragon-soul {
    background-image: url('/warlock/assets/dragonsoul.jpg');
  }

  /**
   * Misc
   */

  // Netherweave net
  &.spell-31367, &.spell-net {
    background-image: url('/warlock/assets/net.jpg');
  }

  // Plant Thornling
  &.spell-22792, &.spell-thornling {
    background-image: url('/warlock/assets/thornling.jpg');
  }
}



